<div class="col-md-8 pe-4 ps-0">
    <?php if($type=='multiple_choice'){ ?>
        <h3 class="fw-bold mb-4">Câu <?= htmlspecialchars($question_id ?? 0) ?>: Chọn đáp án đúng. </h3>
        <p class="display-6 text-start mb-5"><?= htmlspecialchars($question_text ?? 0) ?></p>
        <?php if(!empty($picture)): ?>
            <div class="question-image mb-4 text-center">
                <img src="<?= htmlspecialchars($picture) ?>" 
                    alt="Hình minh họa câu hỏi" 
                    class="img-fluid rounded shadow-sm"
                    style="max-height: 250px; width: auto;">
            </div>
        <?php endif; ?>
        <div class="d-grid gap-3">
            <?php foreach ($choices as $choice): ?>
                <button class="btn btn-answer text-start py-3 px-4">
                    <?= $choice['choice_text'] ?>
                </button>
            <?php endforeach; ?>
        </div>
    <?php } ?>
    
    <?php if($type=='fill_in_blank'){ ?>
        <h3 class="fw-bold mb-4">Câu <?= htmlspecialchars($question_id ?? 0) ?>: Điền vào chỗ trống. </h3>
        <p class="display-6 text-start mb-5"><?= htmlspecialchars($question_text ?? 0) ?></p>
        <?php if(!empty($picture)): ?>
            <div class="question-image mb-4 text-center">
                <img src="<?= htmlspecialchars($picture) ?>" 
                    alt="Hình minh họa câu hỏi" 
                    class="img-fluid rounded shadow-sm"
                    style="max-height: 250px; width: auto;">
            </div>
        <?php endif; ?>
        <textarea name="answer" class="form-control" rows="4" placeholder="Type your answer here..."></textarea>
    <?php } ?>
    <input type="hidden" name="question_id" value="<?= $question_id ?>">
    <div class="col-12 text-start" style="margin-top:30px;">
        <button class="btn btn-primary py-3 rounded-pill" type="submit" data-action="submit"  data-load="/lesson" data-alert="true"><?=$jatbi->lang("Xác nhận")?></button>
    </div>
</div>
