<div class="card bg-body bg-opacity-50 card-custom shadow-sm border-0 rounded-4 mb-2">
    <div class="card-body flex-column ">
        <div class="card-rounded d-flex flex-stack flex-wrap ">
            <?php if(!empty($unit)) {
                $grade = $app->get("grades","*",["id"=>$unit['grade'],"deleted"=>0]);
            } ?>
            <ul class="nav flex-wrap border-transparent fw-bold">
                <li class="nav-item mx-2">
                    <a class="btn fw-bold border-0 <?=$active=='projects-views'?'text-primary':''?>"
                        href="/learning/grades" data-pjax><?=$jatbi->lang("Lớp học")?></a>
                </li>
                <?php if(!empty($grade)) { ?>
                <li class="nav-item mx-3">
                    <a class="btn fw-bold border-0 <?=$active=='projects-views'?'text-primary':''?>"
                        href="/learning/units/<?=$grade['id']?>" data-pjax><?=$grade['name']?></a>
                </li>    
                <?php } ?>
                <?php if(!empty($unit)) { ?>
                <li class="nav-item mx-3">
                    <a class="btn fw-bold border-0 <?=$active=='projects-views'?'text-primary':''?>"
                        href="/learning/lessons/<?=$unit['id']?>" data-pjax><?=$unit['name']?></a>
                </li>    
                <?php } ?>
            </ul>
        </div>
    </div>
</div>